__pycache__/
*.pyc
.DS_Store
.venv/

.label_studio/

data/processed/
data/raw/images/*
!data/raw/images/.gitkeep
data/raw/masks/*
!data/raw/masks/.gitkeep

outputs/
runs/

label_studio/exports/*.json

