--extra-index-url https://download.pytorch.org/whl/cu121
torch>=2.0.0
torchvision
numpy>=1.26
Pillow>=10.0
opencv-python>=4.9
tqdm>=4.66
albumentations>=1.4
segmentation-models-pytorch>=0.3.4
label-studio>=1.23
